  <div class="container">
      <div class="header clearfix">
        <h3 class="text-muted">Welcome to the future of dog selling</h3>
      </div>

      <div class="jumbotron">
        <h1>Sign up today</h1>
        <p class="lead">Sign up now for exciting dog CRUD and purchasing opportunities!
        This is the one website where serious database manipulation is at your fingertips!</p>
        <p><a class="btn btn-lg btn-success" href="/users/sign_up" role="button"> Sign up today!</a></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Add dogs!</h4>
          <p>You can use this website to add dogs!</p>

          <h4>Delete dogs!</h4>
          <p>You can also delete dogs!</p>

          <h4>View dogs!</h4>
          <p>View dogs too!!!</p>
        </div>

        <div class="col-lg-6">
          <h4>State of the art</h4>
          <p>Cutting edge spaghetti methods for buying dogs off other users!</p>

          <h4>No cash, no problem!</h4>
          <p>Buying dogs off other users is <i>free</i></p>

          <h4>Have a power trip?</h4>
          <p>Good news, as an admin you can ban and unban users with a single button press!</p>
        </div>
      </div>

      <footer class="footer">
        <p>&copy; 2022 Regrets, Inc.</p>
      </footer>

    </div> <!-- /container -->

  </body>